<launch>
  <!--<param name="use_sim_time" value="true"/>-->
  <arg name="namespace_prefix" default="robot5"/>

  <!-- Deep Net Inference NOde -->
  <node pkg="lidar_object_detection" type="inference_node.py" name="inference_node" output="screen" respawn="false">
    <param name="tf_model_path" value="$(find lidar_object_detection)/script/ncfm_demo"/>
    <param name="velodyne_topic" type="string" value="$(arg namespace_prefix)/sensors/velodyne_points"/> 
    <param name="cluster_sub" type="string" value="$(arg namespace_prefix)/lidar_object_detection/clusters"/>
    <param name="marker_sub" type="string" value="$(arg namespace_prefix)/lidar_object_detection/markers"/>
    <param name="marker_pub" type="string" value="$(arg namespace_prefix)/lidar_object_detection/object_markers"/>
    <param name="frame_id" type="string" value="$(arg namespace_prefix)/velodyne"/> 
    <param name="target_frame" type="string" value="$(arg namespace_prefix)/odom"/> 
  </node>

</launch>
